* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF; }
  body h1 {
    font-family: 'Courgette', cursive;
    color: #049DD9;
    font-size: 4rem; }
  body h2 {
    font-family: 'Courgette', cursive;
    color: #049DD9;
    font-size: 4rem; }
  body p {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: black; }

img {
  justify-content: center; }

header {
  background-color: #049DD9; }
  header .perfil {
    width: 70px;
    border-radius: 50%; }
  header .container-fluid {
    display: flex;
    background-color: #049DD9;
    text-align: center;
    justify-content: space-between; }
    header .container-fluid .navbar {
      list-style-type: none; }
      header .container-fluid .navbar .nav-item {
        color: black;
        padding: 0.7rem;
        font-weight: bold; }

.footermenu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .footermenu .footeritem {
    padding: 20px; }
  .footermenu .footeritem2 {
    text-decoration: none;
    color: black; }
  .footermenu .logogmail {
    width: 30px;
    border-radius: 20%; }
  .footermenu .logoinstagram {
    width: 30px;
    border-radius: 20%; }
  .footermenu .logowhatsapp {
    width: 30px;
    border-radius: 20%; }
  .footermenu .logoubicacion {
    width: 20px;
    border-radius: 20%; }

.barranavegacion {
  background-color: #049DD9; }

.index1 .suculenta1 {
  width: 100%;
  height: 100%; }

.index1 .suculenta2 {
  width: 100%;
  height: auto; }

.index2 .imagennosotros {
  width: 100%;
  height: 100%; }

.video {
  transition: all 1s; }

.video:hover {
  transform: scale(1.1, 1.1);
  border-radius: 10%; }
