.index1{
    .suculenta1{
        width: 100%;
        height: 100%;
    }
    .suculenta2{
        width: 100%;
        height: auto;
    }
}
.index2{
    .imagennosotros{
        width: 100%;
        height: 100%;
    }
}
.video{
    transition: all 1s;
}
.video:hover{
    transform: scale(1.1, 1.1);
    border-radius: 10%;
}